# Dependencies
node_modules/

# Environment
.env
*.env.local

# Build output
dist/
server/uploads/
storybook-static/

# Logs
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Secrets
secrets/

# Legacy
bin/
srcs/.env

*.local

# Backup files
*.bak
